$font-type: "Quicksand", sans-serif;
$background-color1: #ACE894;
$background-color2: #D68FD6;

.Titulo{
    font-family: $font-type; 
    color: #ACE894;
    background-color: black;
    text-align: center;
    font-size: 4rem;
    width:100vw;
    font-weight: bold;
    padding: 15px;
    padding-bottom: 5%;
    padding-top: 5%;
    margin: 0%;
}

.subTitulos{
    font-weight: bold;
    font-size: 24px;
    color: black;
}

.indicePrincipal{

    ul {
        list-style: none;
        background-color: $background-color1;
        display:flex;
        list-style: none;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: stretch;
        width: 100vw;
        justify-content: space-evenly;
        padding: 1% 8% 1% 8%;
        margin: 0%;
        text-decoration: none;
        li{
            display:flex;
            font-family: $font-type;
            font-weight: bold;
            font-size: 1rem;
            width:100vw;
            text-decoration: none;
            color:black;
            background-color: $background-color1;
        }

        li a {
            text-decoration: none;
            color: black;
            transition: width 2s, height 2s, background-color 2s, transform 2s;
            
        }

        li a:hover{
            background-color: #4A314D;
            color:#ACE894;
        }

    }
}

.parrafo{
    background-color: $background-color2;
    padding-top: 5%;
    padding-bottom: 10%;
    padding-right: 5%;
    padding-left: 5%; 
    margin: 0%;
    font-family: $font-type;
    text-decoration: none;
    font-size: 35px;
    text-align: center;
}

img{
    object-fit: cover;
}
#indicePie {
        padding: 70px 140px 70px 140px;
        text-align: center;
    }
    
#indicePie{
    background-color: $background-color1;
        
    
}
    
#indicePie li{
    display:inline;
    }
    
#indicePie li a{
        color: black;
        text-align: center;
        font-size: 25px;
        font-family: "Quicksand", sans-serif;
        font-weight: bold;
        list-style-position: inside;
        text-decoration: none;
        height: 15%;
        width: 100%;
        padding: 50px, 75px, 25px, 75px;
        margin: 15px;
        transition: width 2s, height 2s, background-color 2s, transform 2s;
}
    
#indicePie li a:hover{
        background-color: #4A314D;
        width: 200px;
        height: 200px;
        transform: rotate(180deg);
        color:#ACE894;
}
    
    .piePagina{
        background-color: $background-color1;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    #menuPagina{
        padding: 0%;
    }
    
    
    #menuPagina li{
        list-style-type: none;
        width: 120px;
        display: inline;
    }
    
    #menuPagina li a{
        text-decoration:none;
        text-align: center;
        color: black;
        font-family: "Quicksand", sans-serif;
        font-size: 20px;
        font-weight: bold;
        padding: 20px 120px 20px 74px;
        transition: width 2s, height 2s, background-color 2s, transform 2s;
    
    }
    
    #menuPagina li a:hover{
        background-color: #4A314D;
        width: 200px;
        height: 200px;
        transform: rotate(180deg);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1.1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 11px 14px;
    grid-template-areas:
      "video-1- video-2 video-3"
      "video-4 video-5 video-6"
      "video-7 video-8 video-9";
  }
  
  .video-1- { grid-area: video-1-; }
  .video-2 { grid-area: video-2; }
  .video-3 { grid-area: video-3; }
  .video-4 { grid-area: video-4; }
  .video-5 { grid-area: video-5; }
  .video-6 { grid-area: video-6; }
  .video-7 { grid-area: video-7; }
  .video-8 { grid-area: video-8; }
  .video-9 { grid-area: video-9; }

  @media only screen and (max-width: 600px){
    .Titulo{
        width:100vw;
        font-size: 80px;}
    
    .parrafo{
        font-size: 15px;
        width: 100%;
    }

    img{
        object-fit: cover;
    }

    .grid-container
  {
    grid-template-areas:
    "video-1"
    "video-2"
    "video-3"
    "video-4"
    "video-5"
    "video-6"
    "video-7"
    "video-8"
    "video-9";}

  .video-1- { grid-area: video-1-; }
  .video-2 { grid-area: video-2; }
  .video-3 { grid-area: video-3; }
  .video-4 { grid-area: video-4; }
  .video-5 { grid-area: video-5; }
  .video-6 { grid-area: video-6; }
  .video-7 { grid-area: video-7; }
  .video-8 { grid-area: video-8; }
  .video-9 { grid-area: video-9; }

  }

